@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    180deg,
    rgba(var(--background-end-rgb), 0.2) 20%,
    rgba(var(--background-start-rgb), 0) 100%
  );
  color: black;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.label {
  @apply block text-sm font-medium leading-6 text-gray-900;
}

.button {
  @apply flex w-full justify-center rounded-lg border-gray-300 bg-gray-300 hover:bg-gray-600 !text-black px-3 py-1;
}

.container {
  @apply flex min-h-full flex-col justify-center px-6 py-12 lg:px-8;
}

.main {
  @apply w-screen h-[95vh] flex items-center justify-center;
}

.header {
  @apply h-[5vh];
}

.center {
  @apply flex flex-col items-center justify-center;
}

.loginBtn {
  @apply sm:mx-auto sm:w-full sm:max-w-sm;
}

.onHover {
  @apply hover:bg-gray-100 hover:cursor-pointer;
}

.btn-rounded {
  @apply p-2 bg-gray-400 rounded-full;
}
