@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(
    180deg,
    rgba(220, 220, 220, 1) 100%,
    rgba(211, 211, 211, 1) 0%
  );
  color: black;
  margin: 0;
}
.dropdown-toggle::after {
  border: 0;
}
.btn.show {
  background: inherit;
}

.hide-toggle::after {
  display: none !important;
}

.dropdown-button:active {
  background: #9ca3af !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-white-to-gray {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(128, 128, 128, 0.4) 100%
  );
}

.layout {
  @apply h-screen flex flex-col justify-between;
}

.main {
  @apply w-screen  flex items-center justify-center;
}

.label {
  @apply block text-sm font-medium leading-6 text-gray-900;
}

.button {
  @apply flex w-full justify-center rounded-lg border-gray-300 bg-gray-300 hover:bg-gray-600 !text-black px-3 py-1;
}

.button-primary {
  @apply bg-gray-300;
}

.button-disabled {
  @apply flex w-full justify-center rounded-lg border-gray-100 bg-gray-100 !text-gray-300 px-3 py-1;
}

.container {
  @apply flex min-h-full flex-col justify-center px-6 py-12 lg:px-8;
}

.center {
  @apply flex flex-col items-center justify-center;
}

.loginBtn {
  @apply sm:mx-auto sm:w-full sm:max-w-sm;
}

.onHover {
  @apply hover:bg-gray-100 hover:cursor-pointer;
}

.onHoverInherit {
  @apply hover:cursor-pointer hover:bg-inherit active:bg-inherit;
}

.btn-rounded {
  @apply p-2 rounded-full;
}
